<ion-header>
  
  <ion-toolbar  color='primary'>
    <ion-row>
      <ion-col >
        
        <ion-item  color='primary'>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One" value={{title}} (ionChange)="changeData($event)"  color='primary'>
            <ion-select-option *ngFor="let entry of access; " value="{{entry}}">{{entry}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      </ion-row>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment 
     value="all" 
     color="tertiary" 
     scrollable="true"
     
     (ionChange)="segmentChanged($event)">
 
       <ion-segment-button value="top">
         <ion-label>Top</ion-label>
       </ion-segment-button>
 
       <ion-segment-button value="bottom">
         <ion-label>Bottom</ion-label>
       </ion-segment-button>
 
       <ion-segment-button value="tray">
         <ion-label>Tray</ion-label>
       </ion-segment-button>
     </ion-segment>
 <div  *ngIf="segmentModel === 'top'">
  <ion-row *ngFor="let entry of selected">
    <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-row>
        <ion-col>
          <ion-card-title>{{entry.jobNo}}&nbsp;&nbsp;{{entry.jobName}}</ion-card-title>
        </ion-col>
         <ion-col>
           <ion-card-title style="float: right;"> QTY : {{entry.qty}}</ion-card-title>
         </ion-col>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          <ion-col style="border-right:1px solid ;"> 
            <h3><b>Task</b></h3>
           <p> {{entry.parameter}}</p>
           <h3><b>Paper Size</b></h3>
           <p>{{entry.paperSize}}
          </ion-col>
          <ion-col>
            <h3><b>Processes</b></h3>
           <div *ngFor="let p of entry.process">
            <p>{{p.processName}}({{p.status}})</p>
           </div>
          </ion-col>
          
        </ion-row>
        <ion-button color="light"  style="float: left;" (click)="viewImage(entry.image)">View Image</ion-button>
        <ion-button color="primary"  style="float: right;" (click)="done(entry.id,'top')">Done</ion-button>
        
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
 </div>
 <div  *ngIf="segmentModel === 'bottom'">
  <ion-row *ngFor="let entry of selectedBottom">
    <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-card-title> {{entry.jobNo}}&nbsp;&nbsp;{{entry.jobName}}</ion-card-title>
          </ion-col>
           <ion-col>
             <ion-card-title style="float: right;"> QTY : {{entry.qty}}</ion-card-title>
           </ion-col>
          </ion-row>
            </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          <ion-col style="border-right:1px solid ;"> 
            <h3><b>Task</b></h3>
           <p> {{entry.parameter}}</p>
           <h3><b>Paper Size</b></h3>
           <p>{{entry.paperSize}}
          </ion-col>
          <ion-col>
            <h3><b>Processes</b></h3>
           <div *ngFor="let p of entry.process">
            <p>{{p.processName}}({{p.status}})</p>
           </div>
          </ion-col>
          
        </ion-row>
        <ion-button color="light"  style="float: left;" (click)="viewImage(entry.image)">View Image</ion-button>
        <ion-button color="primary"  style="float: right;" (click)="done(entry.id,'bottom')">Done</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
 </div>
 <div  *ngIf="segmentModel === 'tray'">
  <ion-row *ngFor="let entry of selectedTray">
    <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-card-title>{{entry.jobNo}}&nbsp;&nbsp; {{entry.jobName}}</ion-card-title>
          </ion-col>
           <ion-col>
             <ion-card-title style="float: right;"> QTY : {{entry.qty}}</ion-card-title>
           </ion-col>
          </ion-row>
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          <ion-col style="border-right:1px solid ;"> 
            <h3><b>Task</b></h3>
           <p> {{entry.parameter}}</p>
           <h3><b>Paper Size</b></h3>
           <p>{{entry.paperSize}}
          </ion-col>
          <ion-col>
            <h3><b>Processes</b></h3>
           <div *ngFor="let p of entry.process">
            <p>{{p.processName}}({{p.status}})</p>
           </div>
          </ion-col>
          
        </ion-row>
        <ion-button color="light"  style="float: left;" (click)="viewImage(entry.image)">View Image</ion-button>
        <ion-button color="primary"  style="float: right;" (click)="done(entry.id,'tray')">Done</ion-button>
        
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
 </div>
 
</ion-content>
